
/* Head Font Regular */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Head Font Bold */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead-Bd.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Head Font Italic */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead-It.ttf') format('truetype');
  font-weight: 400; /* Regular weight for italic */
  font-style: italic;
}

/* Head Font Bold Italic */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead-BdIt.ttf') format('truetype');
  font-weight: 700; /* Bold weight for italic */
  font-style: italic;
}

/* Text Font Regular */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText.ttf') format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Text Font Extralight */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText-Extralight.ttf') format('truetype');
  font-weight: 200; /* Extralight weight */
  font-style: normal;
}

/* Text Font Bold */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText-Bd.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Text Font Italic */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText-It.ttf') format('truetype');
  font-weight: 400; /* Regular weight for italic */
  font-style: italic;
}

/* Text Font Bold Italic */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText-BdIt.ttf') format('truetype');
  font-weight: 700; /* Bold weight for italic */
  font-style: italic;
}



:root{
  --Accent-Green : #00e47c;
  --Dark-Green : #08312a;
  --Warm-Gray : #e5e3de;
  --Light_Gray : #f6f5f3;

}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "BoehringerForwardHead", sans-serif;
  background-color: #08312a;
  touch-action: manipulation; /* Allow touch interactions like scrolling */

  /* background-image: url('src/assets/images/Main BG.svg'); */
  /* background: radial-gradient(circle at center, #00cc66 10%, #003333 70%) fixed; */
  background-size: cover;
  color: var(--Accent-Green) ;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.app{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


.app > p {
  font-weight: 200;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg-gradient-to-r from-[#00e47c] to-[#08312a]  */

@layer utilities {
  .card-wrapper {
    @apply relative bg-[#00e47c] flex p-[2px] gap-6 w-max  rounded-full items-center duration-200 transition-all overflow-hidden;
  }
  
  .card-wrapper::before {
    content: ''; /* Ensure content is defined */
    background: conic-gradient(
      var(--Accent-Green) 0deg,
      var(--Dark-Green) 80deg,
      transparent 90deg
    );

    @apply h-[600%] w-[150%] absolute rounded-full animate-border-spin left-[-25%] z-0; /* Set z-index to 0 */
  }
  
  .card-content {
    @apply flex h-full bg-black justify-between w-full items-center rounded-full px-[20px] py-2 xl:px-10 xl:py-4 z-10; /* Set z-index to 10 */
  }
}



.gradient-border {
  position: relative;
  display: inline-block;
  border-radius: 1000px; 
  padding: 10px; 
  background-color: black;
}




.gradient-border::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px); 
  width: calc(100% + 4px);  
  border-radius: 1000px;
  background: linear-gradient(to left, var(--Dark-Green), #00e47c); 
  z-index: -2; 
}


.gradient-border:hover{
  box-shadow: 40px 0 100px #08312a, -40px 0 100px #00cc66, ;
}







.icon-gradient-border {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;


}

.icon-gradient-border::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 1000px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), #00e47c);
  z-index: 0;
}


.icon-gradient-border::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1000px;
  background: black;
  z-index: 1; 
}

.icon-gradient-border img {
  position: relative;
  z-index: 1; 
  
  
}



.inside-glow-imeta {
  border: 1px solid #00cc66;
  background-color: var(--Dark-Green);

}
.inside-glow {
  border: 2px solid #00cc66;
  box-shadow: inset 0 0 15px #00cc66;
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */

}

.full-image{
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
}
.bg-blur{
  backdrop-filter: blur(5px); /* Adjust the blur value as needed */
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -50; /* Ensure it is in front of the background but behind the content */
}


.content {
  position: relative;
  z-index: 1; /* Content above the particles */
  color: white;
  text-align: center;
  margin-top: 50px;
}


.worldmap__figure-container {
  width: 100%;
  height: 100%;
}


/* Custom Scrollbar for WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  height: 1px;


}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--Accent-Green); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners */
  
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #00000000; /* Background of the scrollbar track */
  border-radius: 10px;
  border: 0.5px solid var(--Accent-Green); /* Optional: add a border */
  
}


.custom-scrollbar {
scroll-behavior: smooth;

}
.custom-scrollbar-y::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
  height: 6px;
  border-radius: 10px;
  scroll-behavior: smooth ease-in-out;
  


}

.custom-scrollbar-y::-webkit-scrollbar-thumb {
  background-color: var(--Accent-Green); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners */
  
}



.custom-scrollbar-y::-webkit-scrollbar-track {
  background: #00000000; /* Background of the scrollbar track */
  border-radius: 10px;
 
  
}


.custom-scrollbar {
scroll-behavior: smooth;

}


.jvectormap-container svg{
  width: 100%;
  fill: radial-gradient(circle, 
  var(--Accent-Green) 0%,      /* Center color */
  var(--Dark-Green) 100%       /* Outer color */
  
);

stroke: none;
 
}

.jvectormap-container svg>path {
  stroke: none;
}





.gradient-background {
  background: radial-gradient(circle, 
    var(--Accent-Green) 0%,      /* Center color */
    var(--Dark-Green) 100%       /* Outer color */
  );
}


.inner-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100vh;
  background: radial-gradient(circle, rgba(0, 228, 124, 0.5) 0%, rgba(0, 228, 124, 0) 70%);
  pointer-events: none; /* Allow clicks to pass through */
  z-index: -10; /* Position above the globe */
  opacity: 0.2;
 
}

/* Animation for opening (from the top-left corner) */
@keyframes growFromTopLeft {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
}

/* Animation for closing (reverse of opening) */
@keyframes shrinkToTopLeft {
  0% {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
  100% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }
}

/* Apply animations */
.futuristic-enter {
  animation: growFromTopLeft 0.2s ease-in-out forwards;
}

.futuristic-exit {
  animation: shrinkToTopLeft 0.2s ease-in-out  forwards;
}



@keyframes growFromCenter {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}

/* Animation for closing (reverse of opening) */
@keyframes shrinkToCenter {
  0% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
  100% {
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }
}

/* Apply animations */
.imeta-futuristic-enter {
  animation: growFromCenter 0.4s ease-in-out forwards;
}

.imeta-futuristic-exit {
  animation: shrinkToCenter 0.4s ease-in-out  forwards;
}


.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #00e47c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.pulse {
  position: relative;
  width: 37vw;
  height: 37vw;
  box-shadow: inset 0 0 40px var(--Accent-Green),
  0 0 50px var(--Accent-Green);
  border-radius: 50%;
  border: var(--Accent-Green) 5px solid;
}

.pulse span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: var(--Accent-Green) 1px solid;
  animation: animate 6s linear infinite;
  border-radius: 50%;
  animation-delay: calc(var(--i) * -1s);
}

@keyframes animate {
  0% {
    width:  37vw;
    height:  37vw;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100vw;
    height: 100vw;
    opacity: 0;

   
  }
}

@media screen and (min-width : 2560px;) {
  @keyframes animate {
    0% {
      width:  37vw;
      height:  37vw;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 75vw;
      height: 75vw;
      opacity: 0;
  
     
    }
  }
}

