
/* Head Font Regular */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Head Font Bold */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Head Font Italic */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Head Font Bold Italic */
@font-face {
  font-family: 'BoehringerForwardHead';
  src: url('./fonts/BoehringerForwardHead-BdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Text Font Regular */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Text Font Bold */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Text Font Italic */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Text Font Bold Italic */
@font-face {
  font-family: 'BoehringerForwardText';
  src: url('./fonts/BoehringerForwardText-BdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



:root{
  --Accent-Green : #00e47c;
  --Dark-Green : #08312a;
  --Warm-Gray : #e5e3de;
  --Light_Gray : #f6f5f3;

}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "BoehringerForwardHead", sans-serif;
  /* background-image: url('src/assets/images/Main BG.svg'); */
  /* background: radial-gradient(circle at center, #00cc66 10%, #003333 70%) fixed; */
  background-size: cover;
  color: var(--Accent-Green) ;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.app{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}


.gradient-border {
  position: relative;
  display: inline-block;
  border-radius: 1000px; /* Ensures the rounded effect */
  padding: 10px; /* Adjust this to control spacing between content and border */
  background-color: black;
}



.gradient-border::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px); /* Expands height to match the outer shadow */
  width: calc(100% + 4px);  /* Expands width to match the outer shadow */
  border-radius: 1000px;
  background: linear-gradient(to left, var(--Dark-Green), #00e47c); /* Green to dark gradient */
  z-index: -2; /* Places it behind the content */
}



.icon-gradient-border {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;


}

.icon-gradient-border::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 1000px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), #00e47c);
  z-index: 0; /* Adjust to 0 to avoid overlap */
}
.icon-gradient-border::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1000px;
  background: black;
  z-index: 1; /* Adjust to 0 to avoid overlap */
}

.icon-gradient-border img {
  position: relative;
  z-index: 1; /* Ensures the image stays above the gradient border */
  
  
}


/* styles.css */
.inside-glow-imeta {
  border: 2px solid #00cc66;
  background-color: var(--Dark-Green);

}
.inside-glow {
  border: 2px solid #00cc66;
  box-shadow: inset 0 0 15px #00cc66;
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */

}


#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -50; /* Ensure it is in front of the background but behind the content */
}


.content {
  position: relative;
  z-index: 1; /* Content above the particles */
  color: white;
  text-align: center;
  margin-top: 50px;
}


.worldmap__figure-container {
  width: 100%;
  height: 100%;
}


/* Custom Scrollbar for WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  height: 1px;


}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--Accent-Green); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners */
  
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #00000000; /* Background of the scrollbar track */
  border-radius: 10px;
  border: 0.5px solid var(--Accent-Green); /* Optional: add a border */
  
}


.custom-scrollbar {
scroll-behavior: smooth;

}
.custom-scrollbar-y::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
  height: 4px;
  


}

.custom-scrollbar-y::-webkit-scrollbar-thumb {
  background-color: var(--Accent-Green); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners */
  
}

.custom-scrollbar-y::-webkit-scrollbar-track {
  background: #00000000; /* Background of the scrollbar track */
  border-radius: 10px;
 
  
}


.custom-scrollbar {
scroll-behavior: smooth;

}


.jvectormap-container svg{
  width: 100%;
  fill: radial-gradient(circle, 
  var(--Accent-Green) 0%,      /* Center color */
  var(--Dark-Green) 100%       /* Outer color */
  
);

stroke: none;
 
}

.jvectormap-container svg>path {
  stroke: none;
}





.gradient-background {
  background: radial-gradient(circle, 
    var(--Accent-Green) 0%,      /* Center color */
    var(--Dark-Green) 100%       /* Outer color */
  );
}



